---
layout: post.vto
thumbnail: 'speecia.png'
title: Speecia
date: 2016-08-15
description: A text-to-speech app that uses MIT's App Inventor to create the app
quick_links:
    - name: View on Google Play Store
      url: https://play.google.com/store/apps/details?id=appinventor.ai_JordanJewels4.Speecia_v1_3_Release_copy
    - name: Download Latest Release
      url: https://drive.google.com/drive/u/0/folders/110n7mbqav20J-cVMQq3evXPnWfSipraS
---

