---
isHome: false
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport">
  <meta charset="UTF-8">
  <title>{{ title }} </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="bg-yellow-50 flex flex-col h-screen font-thin font-sans">
  
  {{ comp.navigation_bar({ isHome: isHome})}}
  <div class="flex flex-grow justify-center">
    <div class="w-3/4">
      {{ content }}
    </div>
  </div>

  {{ comp.footer() }}  
</body>

</html>