---
layout: post.vto
top_img: 'vlc_patcher.png'
title: VLC Bluray AACS Patcher
date: '2024-01-27'
built_with: ['c_sharp']
description: A small application that attempts to fix the 'AACS Decoding' error on VLC by patching the necessary keys and libraries required.
---
Page content
