---
layout: post.vto
thumbnail: 'wacky_dice_shooter.png'
title: Wacky Dice Shooter
date: '2022-07-18'
description: A shooting game made for the GMTK Game Jam 2022, with the theme 'Roll of the Dice'
built_with: ["unity"]
quick_links:
    - name: Play on Itch.io
      url: https://jyodann.itch.io/wacky-dice-shooter
    - name: GMTK Game Jam 2022 Result Page
      url: https://itch.io/jam/gmtk-jam-2022/rate/1619866
    - name: View Source Code on Github
      url: https://github.com/Jyodann/RandomDiceShooterGMTK
    - name: View Nathaniel (aka UnscriptedLogic)'s Itch.io Page
      url: https://unscriptedlogic.itch.io/ 
project_status: Complete
templateEngine: [vto, md]
basename: "."
---

Wacky Dice Shooter is a First Person Shooter game written in the Unity Game Engine. 
It was written in 48 hours for the [GTMK Game Jam 2022](https://itch.io/jam/gmtk-jam-2022) 
with the theme "Roll Of The Dice".

This project was created under the Team name "NatJo", consisting of two members:
- Nathaniel - Programming, 3D Modelling, Environment Deisgn ,and Game Design (Check him out [on Itch.io](https://unscriptedlogic.itch.io/))
- Jordan (me) - Programming, UI, Sound Design

For this project, we decided that Rolling the Dice should decide the fate of battle against a bunch
of [Unity Primitive objects](https://docs.unity3d.com/Manual/PrimitiveObjects.html). 
You could get various buffs/debuffs based on your dice roll: 
- Health
- Speed
- Slowness
- Potato Cannon (Low Attack)
- Explosive Cannon (AoE, High Attack, also has tendency to crash WebGL players, (Sorry!))
- Banana Cannon (High Attack)

You can choose to spend points that are earned from defeating enemies to increase
or decrease the time of your current buff/debuff, and whenever the time runs out,
the dice will roll and your fate in the battlefield will be re-determined!

# Motivation

As two aspiring game developers, I was actually invited by Nathaniel to 
join in this Game Jam just for fun and experience, but according to him,
I was the one that invited so let's just say we both wanted to go for this 
since GMTK's Jams are always so great. For my first game jam, this 
was an absolute blast to work on, despite pandamic working conditions. 

Please have a go at playing this game, it is available [on Itch.io](https://jyodann.itch.io/wacky-dice-shooter). 😁
