---
layout: post.vto
thumbnail: 'game_dev_diaries.png'
title: Game Dev Diaries
date: '2021-01-30'
built_with: ['unity']
description: A Prototype of a Life+Game Dev Simulation game, made for UX project with research backing the decisions made for the game's design. All Assets are Original. 
quick_links:
    - name: View Source Code on Github
      url: https://github.com/Jyodann/Game-Dev-Diaries
    - name: Playable Demo
      url: https://jyodann.itch.io/game-dev-diaries
    - name: Player Motivation Research PDF
      url: https://drive.google.com/file/d/1Bi_8RYiLCA7EHwxO0ViC99XITUwWjg2Z/view
    - name: Game UI Asset Pack for Game Dev Diaries
      url: https://drive.google.com/file/d/1V3ah1dkfyUgTu__PFnIRU3RVJi3OgRQP/view
project_status: Complete
basename: "."
templateEngine: [vto, md]
---

Game Dev Diaries is a game written in the Unity Game Engine that takes inspiration
from games like [Persona 5](https://en.wikipedia.org/wiki/Persona_5), 
[Game Dev Tycoon](https://en.wikipedia.org/wiki/Game_Dev_Tycoon) and 
[Game Dev Story](https://en.wikipedia.org/wiki/Game_Dev_Story). It aims to 
simulate the life of an Indie Game Developer who wants to create a 
sucessful game. All assets in the game are original, and you may look at them 
[here](https://drive.google.com/file/d/1V3ah1dkfyUgTu__PFnIRU3RVJi3OgRQP/view)

The game features a Life Simulation + Game Dev Simulation cycle. 
Similar to Persona 5, this means that the player is incentivised to complete 
life simulation tasks, like keeping up with their Friends, helping their Teachers,
and working in the Cafe to earn money, buying gifts etc. These actively help them gain experience,
money and even extra help with game development.

<img src="help_friend.png">

<img src="work_at_cafe.png">

In the Game Dev Simulation, players have to pick a suitable genres and target
demographics to ensure sucess of their games that are published. This is inspired
by Game Dev Tycoon. The beginning experience you have is not a lot, but you 
can gain insight and extra points to place into the game 

<img src="plan_game.png">

<img src="game_focus.png">

<img src="creating_game.png">

<img src="game_reviews.png">

The Life Simulation and Game Dev Simulation blend together as doing the Life
Simluation section of the game well will directly benefit your ability
to make better games (not to dissimilar from real life): 

<img src="benefits.png">

This project was part of a research for UI/UX projects on making a game that 
appeals to an audience, in which I choose simulation as most of my friends played
simulation. 

You can view the writeup and research [here](https://drive.google.com/file/d/1Bi_8RYiLCA7EHwxO0ViC99XITUwWjg2Z/view)

Did I also mention that a whole [playable demo](https://jyodann.itch.io/game-dev-diaries) is also available? :) 