---
layout: post.vto
thumbnail: 'bad_apple.png'
title: Bad Apple but it's played on Bad Apple's lyrics
date: '2022-08-11'
quick_links:
  - name: Watch Video on YouTube
    url: 'https://www.youtube.com/watch?v=p_bAnoAZVWs&feature=youtu.be'
description: My contribution to the Bad Apple Community of playing Bad Apple on everything.
built_with: [python, js, nodejs]
---

