---
layout: post.vto
thumbnail: 'ssb_notes.jpeg'
title: ITSSB Notes
date: '2022-09-01'
description: Set of notes prepared to assist in teaching the IT Software Solutions for Business Skillset in Worldskills
---
Page content
