---
layout: post.vto
thumbnail: 'minify_player.png'
title: Minify
date: '2022-10-28'
built_with: ['unity', 'aws_lambda']
description: Spotify Miniplayer for Windows; predecessor to Bittify.
---
Page content
