---
layout: post.vto
thumbnail: 'wacky_dice_shooter.png'
title: Wacky Dice Shooter
date: '2022-07-18'
description: A shooting game made for the GMTK Game Jam 2022
built_with: ["unity"]
---
Page content
