---
layout: post.vto
thumbnail: 'game_dev_diaries.png'
title: Game Dev Diaries
date: '2021-01-30'
built_with: ['unity']
description: A Prototype of a Life+Game-Dev Simulation game, made for UX project with research backing the decisions made for the game's design. All Assets are Original. 
quick_links:
    - name: View Source Code on Github
      url: https://github.com/Jyodann/Game-Dev-Diaries
    - name: Playable Demo
      url: https://jyodann.itch.io/game-dev-diaries
    - name: Player Motivation Research PDF
      url: https://drive.google.com/file/d/1Bi_8RYiLCA7EHwxO0ViC99XITUwWjg2Z/view
    - name: Game UI Asset Pack for Game Dev Diaries
      url: https://drive.google.com/file/d/1V3ah1dkfyUgTu__PFnIRU3RVJi3OgRQP/view
---
