---
layout: post.vto
thumbnail: 'ssb_notes.jpeg'
title: ITSSB Notes
date: '2022-09-01'
built_with: [notion]
description: Set of notes prepared to assist in teaching the IT Software Solutions for Business Skillset in Worldskills
quick_links: 
    - name: Notion Site
      url: https://jyodann.notion.site/ITSSB-Notes-141c2d01b3e94d0b83794648cd4f222a
---

