---
layout: post.vto
thumbnail: 'look_and_learn.png'
title: Look & Learn 
date: '2021-06-10'
description: AR Application that translates what you are looking at in the language you are trying to learn
built_with: ['unity']
quick_links:
    - name: View Source Code on Github
      url: https://github.com/Jyodann/Look-And-Learn
---


<!---TODO: Add more images -->