---
layout: post.vto
thumbnail: 'minify_player.png'
title: Minify
date: '2022-10-28'
built_with: ['unity', 'aws_lambda']
description: Spotify Miniplayer for Windows; predecessor to Bittify.
quick_links:
    - name: View Source Code on Github
      url: https://github.com/Jyodann/MinifyPlayer/
    - name: Documentation Submitted for Spotify API Approval
      url: https://drive.google.com/file/d/12-bl5jYu8Yr35zds8efA3G49Rm2Iip5i/view?usp=sharing
---

