---
top_img: '/assets/img/musical-mosaic.png'
title: Musical Mosaic
description: A little simple web application that produces a collage of photos containing your favourites from Spotify across different time periods 
built_with: ["svelte", "cloudflare", "tailwindcss"]
---

A web application that produces a photo collage of all your favourite songs on Spotify, inspired by [Reciptify](https://receiptify.herokuapp.com/)