---
layout: post.vto
thumbnail: 'nijiguesssaki.png'
title: NijiGuessSaki
date: '2022-04-24'
description: A spin on the game Heardle using Spotify Previews
built_with: ["blazor", "heroku", "c_sharp"]
quick_links:
    - name: View Source Code on Github
      url: https://github.com/Jyodann/NijiGuessSaki
---

