
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply block;
    @apply py-2;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }

  p {
    @apply text-lg;
    @apply py-1
  }

  a {
    @apply text-black;
    @apply dark:text-white underline;
  }

  li {
    @apply list-item list-inside 
  }

  ul {
    @apply list-disc;
   
  }
}

summary {
 display: block; /* This hides the summary's ::marker pseudo-element */
}
summary::-webkit-details-marker {
 display: none; /* This also hides the ::marker pseudo-element, but in Safari */
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

details[open] + div.content {
 max-height: 100rem; /* Set a max-height value enough to show all the content */ 
 transition: max-height 400ms ease-out, border 0ms linear;
}
details[open] span::before {
 rotate: 90deg;
 transition: rotate 200ms ease-out;
}

details>summary span.icon {
  transition: all 200ms;
}

details {
 overflow: hidden; /* Keep this line to prevent an odd blue outline around the element in Safari. */
}

div.content { 
 max-height: 0;
 overflow: hidden;
 transition: max-height 400ms ease-out, border 0ms 400ms linear;
}

blockquote p {
  @apply p-4 bg-yellow-100 border-l-4 border-gray-300 dark:border-gray-500 dark:bg-slate-800
}

blockquote {
  @apply py-2
}


@tailwind components;
@tailwind utilities;