---
layout: post.vto
thumbnail: 'musica-thumbnail.png'
title: Musicia
description: Android Music App that communicates with the Spotify API to play song previews. 
date: 2020-04-22
built_with: [android, java, azure]
quick_links:
    - name: Github
      url: https://github.com/Jyodann/Musicia
---

# Intro



