---
layout: post.vto
top_img: 'musica.png'
title: Musicia
description: Android Music App that communicates with the Spotify API to play song previews. 
date: 2020-04-22
built_with: [android, java, azure]
---
Page content
