---
layout: post.vto
thumbnail: 'runaway_survivor_thumbnail.png'
title: Runaway Survivor
date: '2020-08-10'
built_with: ['unity']
description: A game inspired by Subway Surfers, themed to have a post-apocalyptic feel. All Assets are original. 
---
Page content
