---
layout: post.vto
thumbnail: 'spaceship_defender.png'
built_with: ['unity', 'itchio']
title: Spaceship Defender
date: '2020-06-14'
description: A 2D, Arcade, Space-themed shooter inspired by the classic game, Asteroids. Available for PC & Mobile
---
Page content
