<footer class="flex justify-center bg-yellow-200 dark:bg-slate-800">
    <div class="w-3/4 justify-center flex py-4">
        <p> made with 💕 by <a class="underline" href="https://github.com/Jyodann">jyodann</a> | 
        updated as of {{ new Date().toLocaleString("en-GB") }}</p>
    </div>
</footer>