<footer class="justify-center bg-yellow-200 dark:bg-slate-800 items-center flex">
    <div class="w-3/4 justify-center flex py-4 align-middle text-center flex-col">
        <p> made with 💕 by <a class="underline" href="https://github.com/Jyodann">jyodann</a></pyst
    </div>
</footer>